/* NAVBAR */
nav{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  align-items:center;
  padding:20px 60px;
  background:rgba(0,0,0,0.9);
  border-bottom:1px solid #00ffcc;
  z-index:1000;
}

.logo{
  font-size:20px;
  font-weight:bold;
  color:#00ffcc;
  text-shadow:0 0 10px #00ffcc;
  animation: glow 2.5s ease-in-out infinite alternate;
}

.nav-links{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:40px;
}

.nav-links a{
  color:#aaa;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.nav-links a:hover,
.nav-links .active{
  color:#00ffcc;
  text-shadow:0 0 10px #00ffcc;
}

@keyframes glow{
  from{ text-shadow:0 0 10px #00ffcc; }
  to{ text-shadow:0 0 20px #00ffcc; }
}

/* SECCIÓN */
.page-section{
  padding-top:150px;
  text-align:center;
}

.page-title{
  font-size:48px;
  color:#00ffcc;
  text-shadow:0 0 20px #00ffcc;
  margin-bottom:60px;
}

/* GALERÍA */
.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(260px,1fr));
  gap:25px;
  max-width:1200px;
  margin:auto;
}

.card{
  position:relative;
  border-radius:15px;
  overflow:hidden;
  background:#111;
}

.card img{
  width:100%;
  height:300px;
  object-fit:cover;
  display:block;
  transition:0.3s;
}

.card:hover img{
  transform:scale(1.05);
}

/* BOTONES */
.overlay{
  position:absolute;
  bottom:15px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:12px;
  opacity:0;
  transition:0.3s;
}

.card:hover .overlay{
  opacity:1;
}

.icon-btn{
  background:#1c1c1c;
  border:none;
  color:#ccc;
  padding:12px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.icon-btn:hover{
  background:#00ffcc;
  color:#000;
}

.download-btn{
  background:#1c1c1c;
  color:#00ffcc;
  padding:12px 18px;
  border-radius:10px;
  text-decoration:none;
  transition:0.3s;
}

.download-btn:hover{
  background:#00ffcc;
  color:#000;
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  z-index:2000;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
}

.modal-content{
  display:block;
  margin:5% auto;
  max-width:80%;
  border-radius:15px;
}

.close{
  position:absolute;
  top:20px;
  right:40px;
  color:#00ffcc;
  font-size:40px;
  cursor:pointer;
}